# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ssl_exporter

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# KetBrains IDEs files
.idea

# Others
e2e/certs/
!e2e/certs/.gitkeep
e2e/config.yml
